.broilers-section {
    background-color: #f5f5dc;
    padding: 20px
}

.broilers {
    font-size: 35px;
    color: #ffd700;
    font-weight: 600;
    /* text-transform: uppercase; */
}

.broiler-section-image {
    height: 400px;
    width: 100%;
    object-fit: cover;
    filter: brightness(70%);
    transition: transform 0.3s ease;  /* smooth transition */
}

.broiler-section-image:hover {
    transform: scale(0.9);
    cursor: pointer;
    /* Optional: add a subtle shadow for more pop */
    /* box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); */
}

