.about-section-image {
  height: 400px;
  width: 100%; /* bootstrap will control the width */
  object-fit: cover;
  filter: brightness(70%);
  transition: transform 0.3s ease;  /* smooth transition */
}

.about-section-image:hover {
    transform: scale(0.9);
    cursor: pointer;
    /* Optional: add a subtle shadow for more pop */
    /* box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); */
}


.about-section {
    padding: 20px;
    /* gap: 10vw; */
    padding-top: 10vh;
}


.about-us-btn {
  padding: 12px 40px;
  background-color: #ffd700;
  color: rgb(255, 251, 251);
  text-decoration: none;
  transition: background-color 0.5s ease-in-out;
}

.about-us-btn:hover {
  background-color: #ebca11;
}

/* Responsive text sizing */
@media (max-width: 768px) {
  .about-section h4 {
    font-size: 1.5rem;
  }
}

@media (min-width: 769px) {
  .about-section h4 {
    font-size: 2rem;
  }
}


